.item {
  display: block;
  padding: 10px;
  background-color: #efefef;
  border: 1px solid #dadada;
  margin-bottom: 10px;
}

.result {
  padding: 10px;
  background: #f5f9f0;
  border: 1px solid #efefef;
}

.close-button {
  cursor: pointer;
  color: #ef2818;
}

.close-button:hover {
  color: #ff6962;
}
